{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>
    {{ dump(session) }}

    {% if connected %}
        <p>Bienvenue, {{ user.firstName }} {{ user.lastName }}!</p>
        <p>Adresse e-mail : {{ user.email }}</p>
        <p>Rôle : {{ user.role }}</p>
        <p>Contenu spécifique réservé aux utilisateurs connectés...</p>

        <a href="/deconnexion">Déconnexion</a>
    {% else %}
        <p>Vous n'êtes pas connecté. Veuillez vous connecter pour accéder à votre compte.</p>
    {% endif %}
{% endblock %}