{% extends 'app/admin/admin.html.twig' %}
{% block page_title %}Utilsateurs lists ADMIN{% endblock page_title %}
{% block content %}
    {% if message_success %}
        <div class="alert alert-success">{{ message_success }}</div>
    {% endif %}
    {% if message_error %}
        <div class="alert alert-danger">{{ message_error }}</div>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Date de création</th>
            <th>Role</th>
            <th>Actif</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.createdAt|date('d/m/Y H:i:s') }}</td>

                {% if user.role == 'ROLE_ADMIN' %}
                    <td class="user_role">administrateur
                        <a href="/admin/user-toggle-role?user_id={{ user.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"/>
                            </svg>
                        </a>
                    </td>
                {% else %}
                    <td class="user_role">utilisateur
                        <a href="/admin/user-toggle-role?user_id={{ user.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"/>
                            </svg>
                        </a>
                    </td>
                {% endif %}


                <td>
                    {% if user.isActive() %}
                        oui
                    {% else %}
                        non
                    {% endif %}
                </td>
                <td>
                    <a href="/admin/user-toggle-status?user_id={{ user.id }}">
                        {% if user.isActive() %}
                            <a href="/admin/user-toggle-status?user_id={{ user.id }}" class="btn btn-dark">désactiver</a>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" width="25px" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        {% else %}
                            <a href="/admin/user-toggle-status?user_id={{ user.id }}"
                               class="btn btn-dark">activer</a>

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" width="25px" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
                            </svg>
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}