{% block javascripts %}
    <script>
        {% if commentId is null %}
        tinymce.init({
            selector: '#comment_0',
            height: 200,
            language: 'fr_FR',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright alignjustify | bullist numlist outdent indent'
        });
        {% else %}
        tinymce.init({
            selector: '#comment_{{ commentId }}',
            height: 200,
            language: 'fr_FR',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright alignjustify | bullist numlist outdent indent'
        });
        {% endif %}
    </script>
{% endblock %}

{% if commentId is null %}
<div id="div_comment_0" class="comment_form">
    {% else %}
    <div id="div_comment_{{ commentId }}" class="comment_form" hidden>
        {% endif %}
        {% if session.user.is_connected %}
        {% if commentId is null %}
        <form action="/comment_post?post_id={{ post.id }}&comment_id=0" method="POST" class="show">
            <textarea name="comment_0" id="comment_0" rows="2"></textarea>
            {% else %}
            <form id="form_comment_{{ commentId }}" action="/comment_post?post_id={{ post.id }}&comment_id={{ commentId }}" method="POST">
                <textarea name="comment_{{ commentId }}" id="comment_{{ commentId }}" rows="2"></textarea>
                {% endif %}

                <button class="btn primary" type="submit">Envoyer</button>
            </form>
            {% else %}
                <p>Connectez-vous pour commenter cet article.</p>
                <a class="btn btn-dark" href="/connexion">Se connecter</a>
            {% endif %}
    </div>
