{% extends 'base.html.twig' %}

{% block page_title %}{{ post.title }}{% endblock %}
{% block class_css %}post{% endblock %}
{% block javascripts %}
    <script src="/assets/js/tinymce/langs/fr_FR.js"></script>
    <script src="/vendor/tinymce/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/assets/js/comments.js"></script>
{% endblock javascripts %}
{% block body %}
    <div class="post-image">
        <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="img-fluid">
        <div class="post-title-container">
            <h1 class="post-title">{{ post.title }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="post-content">
            <h2>{{ post.hat|raw }}</h2>
            <p>Créé le {{ post.created_at|date('d/m/Y') }}</p>
            <p>Dernière modification le {{ post.updated_at|date('d/m/Y') }}</p>
            <div class="content">
                {{ post.content|raw }}
            </div>

            <div class="block">
                <div class="block-header">
                    <div class="title">
                        <h2>Commentaires</h2>
                        <div class="tag">{{ comments|length }}</div>
                    </div>
                </div>
                {% include 'app/post/_partials/_comment_form.html.twig' with {'post': post, 'commentId': null} %}
                {% if message_success %}
                    <div class="alert alert-success">{{ message_success }}</div>
                {% endif %}
                {% if message_error %}
                    <div class="alert alert-danger">{{ message_error }}</div>
                {% endif %}
                {% if comments|length > 0 %}
                    {% for comment in comments %}
                        {% if comment.getParentId() == null %}
                            <div class="comment">
                                <div class="user-banner">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                                        </div>
                                        <h5>{{ userRepository.getUserById(comment.getAuthorId()).getUsername() }}</h5>
                                    </div>
                                    <button class="btn dropdown"><i class="ri-more-line"></i></button>
                                </div>
                                <div class="content">
                                    {{ comment.content|raw }}
                                </div>
                                <div class="footer">
                                    <span data-comment-id="{{ comment.getId() }}" class="reply_btn">Répondre</span>
                                    <div class="divider"></div>
                                    <span class="is-mute">{% include 'app/post/_partials/_comment_date.html.twig' with {'comment': comment} %}</span>
                                </div>
                            </div>
                            {% if comment.hasChildren() %}
                                {% include 'app/post/_partials/_comment_form.html.twig' with {'post': post, 'commentId': comment.id} %}
                            {% endif %}
                            {% for childComment in comment.getChildren() %}
                                {% set childComment = commentRepository.getCommentById(childComment) %}
                                {% set authorChildComment = userRepository.getUserById(childComment.getAuthorId) %}
                                <div class="reply comment">
                                    <div class="user-banner">
                                        <div class="user">
                                            <div class="avatar">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                                     alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                                            </div>
                                            <h5>{{ authorChildComment.username }}</h5>
                                        </div>
                                        <button class="btn dropdown"><i class="ri-more-line"></i></button>
                                    </div>
                                    <div class="content">
                                        {{ childComment.content|raw }}
                                    </div>
                                    <div class="footer">
                                        <span class="is-mute">{% include 'app/post/_partials/_comment_date.html.twig' with {'comment': childComment} %}</span>
                                    </div>
                                </div>
                                {% if loop.last %}
                                    {% include 'app/post/_partials/_comment_form.html.twig' with {'post': post, 'commentId': comment.id} %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}